body {
  background-color: #000;
  color: white;
}

nav{
  background-color: #ffd900;
  height: 18vh;
  color: #000;
  font-weight: 500;
  font-size: 5vh;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.15),
    0 2.5rem 5rem 0 rgba(255, 255, 255, 0.15);
}

nav div{
  margin: 0 auto;
}

nav a{
  text-decoration: none;
  color: #000;
}

nav a:hover{
  text-decoration: none;
  color: #5a5a5a;
}

.active{
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

img{
  max-height: 200px;
}

.club{
  background-color: #474747;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2),
    0 2.5rem 5rem 0 rgba(255, 255, 255, 0.2);
    color: #ffffff;
    background-color: rgb(34, 34, 34);
}

.map{
  border-radius: 11px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2),
    0 2.5rem 5rem 0 rgba(255, 255, 255, 0.1);
}
