body {
  background-color: #000;
  color: rgb(255, 217, 0);
}

nav{
  background-color: rgba(255, 217, 0, 0.9);
  height: 11vh;
  color: #000;
  font-weight: 500;
  font-size: 4vh;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.3),
    0 2.5rem 5rem 0 rgba(255, 255, 255, 0.3);
}

nav div{
  margin: 0 auto;
}

nav a{
  text-decoration: none;
  color: #000;
}

nav a:hover{
  text-decoration: none;
  color: #5a5a5a;
}

.active{
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

img{
  max-height: 200px;
}

.club-container{
  background-color: #474747;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2),
    0 2.5rem 5rem 0 rgba(255, 255, 255, 0.2);
  color: #bfbfbf;
  background-color: rgb(34, 34, 34);
}

.club-container:hover{
  box-shadow: 0 2px 4px 0 rgba(255, 217, 0, 0.2),
    0 2.5rem 5rem 0 rgba(255, 217, 0, 0.2);
  color: #ffffff;
  padding: 5px;
}

.map{
  border-radius: 11px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2),
    0 2.5rem 5rem 0 rgba(255, 255, 255, 0.1);
}

.club-list{
  cursor: pointer;
  margin: 0 auto;
}

.listed-club{
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(172, 172, 172);
  border: rgba(255, 217, 0, 0.4) 1px solid;
}

.listed-club:hover{
  background-color: rgb(21, 21, 21);
  border: rgba(255, 217, 0, 1) 1px solid;
  color:rgba(255, 217, 0, 1)
}

.listed-club-image{
  max-height: 80px;
}

.form-new-club{
  background-color: rgb(19, 19, 19);
  border-radius: 30px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2),
    0 2.5rem 5rem 0 rgba(255, 255, 255, 0.1);
}

.form-new-club input, 
.form-new-club input:focus{
  background-color: rgb(0, 0, 0);
  border: rgba(255, 217, 0, 0.5) 1px solid;
  color: rgb(255, 255, 255);
}

.form-new-club input::placeholder{
  color: rgb(79, 79, 79);
}

.form-new-club input:-webkit-autofill,
.form-new-club input:-webkit-autofill:hover, 
.form-new-club input:-webkit-autofill:focus, 
.form-new-club input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #ffffff !important;
}
